################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/Ara2.AraTextArea/obj
/Ara2.AraTextArea/bin
/Ara2.AraTextArea/Nuget/Ara2.AraTextArea.*.nupkg
*.user
